{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stylelogin.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsivelogin.css' %}" rel="stylesheet">
    <title>Register Page</title>
</head>

<body>
    <div class="body_wrapper frm-vh-md-100">
        <div class="header_top d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo"></a>
            <p class="form_footer_text text-right">Already have an account? <a href="/">Sign in
                </a>
            </p>
        </div>
        <div class="formify_body formify_signup_fullwidth parallax-effect d-flex">
            <div class="formify_left_fullwidth frm-vh-md-100" data-bg-img="{% static 'images/background-bg-left.jpg' %}">
            </div>
            <div class="formify_right_fullwidth d-flex align-items-center justify-content-center">
                <div class="parallax_img">
                    <div class="p_img one">
                        <img class="layer layer2" data-depth="0.5" src="{% static 'images/polygon1.png' %}" alt="">
                    </div>
                    <div class="p_img two"><img class="layer layer2" data-depth="0.4" src="{% static 'images/polygon2.png' %}" alt="">
                    </div>
                    <div class="p_img three"><img class="layer layer2" data-depth="0.5" src="{% static 'images/polygon3.png' %}" alt="">
                    </div>
                    <div class="p_img four"><img class="layer layer2" data-depth="0.5" src="{% static 'images/polygon4.png' %}" alt="">
                    </div>
                    <div class="p_img five"><img class="layer layer2" data-depth="0.5" src="{% static 'images/polygon5.png' %}" alt="">
                    </div>
                    <div class="p_img six"><img class="layer layer2" data-depth="0.5" src="{% static 'images/polygon6.png' %}" alt="">
                    </div>
                </div>
                <div class="formify_content_body">
                    <h2 class="form_title">Sign up</h2>

                    {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}

                    <form action="register" class="signup_form signup_form_style_two" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" type="text" id="uname" name="uname" aria-required="true">
                            <label class="top_text" style="z-index:5">User Name</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" id="email" name="email" placeholder="" required=""
                                aria-required="true">
                            <label class="top_text" style="z-index:5">Email address</label>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="inputPassword" name="password" required="">
                            <label class="top_text" style="z-index:5">Password
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="inputPassword" name="cpassword" required="">
                            <label class="top_text" style="z-index:5">Confirm Password
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" id="fname" name="fname" aria-required="true">
                            <label class="top_text" style="z-index:5">First Name</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" id="lname" name="lname" aria-required="true">
                            <label class="top_text" style="z-index:5">Last Name</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" id="mobile" name="mobile" aria-required="true">
                            <label class="top_text" style="z-index:5">Mobile no.</label>
                        </div>
                        

                        <div class="form-group">
                            <select name="gen" class="form-control" id="gen">
                                <option value="m">Male</option>
                                <option value="f">Female</option>
                            </select>
                            <label class="top_text" style="z-index:5">Gender</label>
                            {% comment %} <label class="top_text">Gender</label> {% endcomment %}
                        </div>

                        <div class="form-group">
                            <select name="branch" class="form-control" id="branch">
                                <option value="CE">CE</option>
                                <option value="IT">IT</option>
                                <option value="MH">MH</option>
                                <option value="CL">CL</option>
                                <option value="CH">CH</option>
                                <option value="IC">IC</option>
                                <option value="EC">EC</option>
                                <option value="FOD">FOD</option>
                                <option value="FOP">FOP</option>
                            </select>
                            <label class="top_text" style="z-index:5">Branch</label>
                        </div>

                        <div class="form-group">
                            
                            <input class="form-control" type="number" id="semester" name="semester" min="1" max="8" aria-required="true">
                            <label class="top_text" style="z-index:5">Semester</label>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" id="address" name="address" aria-required="true">
                            <label class="top_text" style="z-index:5">Address</label>
                        </div>

                        <div class="form-group">
                            <div style="margin-left:2px!important;margin-bottom:4px!important;color:#9ba5a0!important">D.O.B</div>
                            <input class="form-control" type="date" id="dob" name="dob" aria-required="true" style="color:#9ba5a0!important">
                            {% comment %} <label class="top_text" style="z-index:5">D.O.B</label> {% endcomment %}
                        </div>

                        <div class="form-group">
                            <div style="margin-left:2px!important;margin-bottom:10px!important;color:#9ba5a0!important">Profile Picture</div>
                            <input type="file" id="pic" name="pic" aria-required="true" style="color:#9ba5a0!important"> 
                            {% comment %} <label class="top_text" style="z-index:5">Profile Pic</label> {% endcomment %}
                        </div>
                        <div class="form-group" style="margin-bottom: 20px;">
                            <button type="submit" class="btn thm_btn thm_btn_green">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- <script src="js/parallax.js"></script> -->
    <!-- <script src="js/jquery.parallax-scroll.js"></script> -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>